cython
pkgconfig
wheezy-template
urllib3
idna
charset-normalizer
h5py
numpy==1.23.5
pandas
lxml
psims
hdf5plugin
cycler
kiwisolver
matplotlib
pyparsing
python-dateutil
pytz
six
SQLAlchemy
requests
pyteomics
git+https://github.com/gtluu/pyimzML.git
git+https://github.com/gtluu/pyTDFSDK.git
git+https://github.com/gtluu/pyBaf2Sql.git
git+https://github.com/pnnl/deimos.git@8f3d3cb2a5472b36a4575e09e0dce90a39965dc2